.about_our_beans_section{
    padding: 0 150px;

}
.about_our_beans_container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.about_our_beans_img_container{

}
.about_it_img{
    width: 392px;
    height: 355px;
}
.about_it_content_container{
    text-align: center;
}
.about_our_beans_title{
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    color: #000000;
    margin-bottom: 20px;
}
.about_it_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    max-width: 346px;
    width: 100%;
    margin-top: 10px;
    text-align: left;
}
.about_it_text_bold{
    font-weight: 600;
}
.about_it_text_price{
    font-size: 17px;

}